/*Estilos comunes*/
body {
    margin: 0;
    background-image: url(../img/fondomusica.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#container {
    width: 93%;
    margin: 0 auto;
    text-align: justify;
    box-shadow: 0 0 10px whitesmoke;
    background-color: whitesmoke; /* #c0c6c8 | #afb6b9*/
    background-image: url(../img/cassettes-wallpaper.jpg);
    background-repeat: repeat-y;
}
.etiqueta {
    font-size: 34px;
    color: red;
}
#principal {
    margin-right: 35px;
    margin-top: 10px;
    margin-left: 5px;
}
header {
    padding: 0px;
}
header img {
    width: 100%;
}
#contenido {
    width: 77%;
    float: right;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 25px;
    background-color: whitesmoke;
    margin-bottom: 20px;
    border: inset 2px black;
    box-shadow: 0 0 6px grey;
    border-radius: 8px;
}
footer {
    background-color: gray;
    color: #a7fdce;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font: italic bold 35px Georgia, Serif;
    text-shadow: -3px 2px 0 black, -4px 3px 0 #fbfb0e;
    padding: 7px;
    margin-top: 50px;
}
.cb {
    clear: both;
}
nav {
    width: 18%;
    float: left;
}
#flecha {
    width: 77%;
    margin-right: 25px;
    padding-right: 5px;
    float: right;
    text-align: right;
}
/*----------------------------------------------------------------------*/
/*Pagina Inicio*/
#containerhome {
    width: 93%;
    margin: 0 auto;
    background-color: transparent;
}
#containerhome header {
    box-shadow: 0 0 10px grey;
}
/*----------------------------------------------------------------------*/
/*Menu pagina principal*/
.menuinicio {
    float: none;
    list-style-type: none;
    font-size: 30px;
    width: 35%;
    padding: 0px;
    margin: 0px;
    color: black;
}
#containercasa li {
    margin-bottom: 5%;
}
nav ul, nav li {
    padding: 0;
    margin: 0;
}
nav li {
    list-style-type: none;
    font-size: 22px;
    text-align: center;
    padding: 8px;
    margin: 5px;
    margin-right: 15px;
    color: #000;
    border: solid 1px black;
    background-color: #afb6b9;
    text-shadow: -2px 2px 0 #d3d3d3,-3px 3px 0 #a9a9a9;
    border-radius: 10px;
}
nav li:hover {
    background-color: gray;
    color: #a7fdce;
    text-shadow: -2px 2px 0 #0a0e27,-3px 3px 0 #0a0e27;
    border: solid 1px #fbfb0e;
}
#containercasa {
    width: 100%;
    height: 100%;
}
#home h1 {
    color: #a7fdce;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -4px 2px 0 #0a0e27, -6px 3px 0 #fbfb0e;
    padding: 70px;
}
#home img {
    width:60%;
    height:60%;
    box-shadow: 0 0 20px grey;
    float: right;
}
/*----------------------------------------------------------------------*/
.azulo {
    color: darkblue;
}
a {
    text-decoration: none;
}
/*----------------------------------------------------------------------*/
/*Titulos*/
#titulo {
    color: #a7fdce;
    width: 76%;
    float: right;
    text-align: center;
    font: italic bold 16px Georgia, Serif;
    text-shadow: -3px 4px 4px black,-4px 5px 2px black;
}
#tutorial {
    width: 77%;
    float: right;
    text-align: left;
    color: #a7fdce;
    font: italic bold 18px Georgia, Serif;
    text-shadow: -3px 4px 4px black,-4px 5px 2px black;
}
/*----------------------------------------------------------------------*/
/*Pagina párrafos*/
#datosartistas{
    margin-bottom: 20px;
    padding-bottom: 0px;
}
#datosartistas h2 {
    color:black;
    font: italic 30px Georgia, Serif;
    text-shadow: -2px 2px 3px gray;
}
#letras{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0%;
    padding-right: 0%;
    padding-left: 0%;
}
#letras h2 {
    color:black;
    font: italic 30px Georgia, Serif;
    text-shadow: -2px 2px 3px gray;
}
#letras h3 {
    color:black;
    font: italic 20px Georgia, Serif;
    text-shadow: -2px 2px 3px gray;
    text-align: right;
    margin: 0%;
}
#letras h4 {
    color:black;
    font: italic 20px Georgia, Serif;
    text-shadow: -2px 2px 3px gray;
    text-align: right;
    margin-bottom: 0%;
}
#letras a {
    color:black;
    font: italic 20px Georgia, Serif;
    text-shadow: -2px 2px 3px gray;
    text-align: right; 
}
.suspensivos {
    color:black;
    font: italic 20px Georgia, Serif;
    text-shadow: -2px 2px 3px gray;
    text-align: center; 
}
#itstime {
    width: 31%;
    margin-right: 2%;
}
#seryestar {
    width: 31%;
    margin-left: 1%;
    margin-right: 2%;
}
#hazdeluz {
    width: 32%;
    margin-left: 1%;
    margin-right: 0%;
    padding-right: 0%;
}
/*----------------------------------------------------------------------*/
/*Página enlaces*/
#enlaces a {
    color: rgb(255, 157, 0);
    font-weight: bold;
    font-size: 20px;
}
.Eflecha {
    text-align: right;
}
#Eartistas h2 {
    color:black;
    font: italic 30px Georgia, Serif;
    text-shadow: -2px 2px 3px gray;
}
#Eartistas a {
    color: #fbfb0e;
    font: bold 16px Georgia, Serif;
    text-shadow: -1px 1px 0 gray, -1px 1px 3px black;
}
#Etexto {
    float: left;
}
#Eimagen {
    float: center;
}
/*----------------------------------------------------------------------*/
#tablas table {
    width: 60%;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
}
#tdefault th, #tcombi th {
    background-color: rgb(7, 7, 70);
    color: cornflowerblue;
}
#tdefault td, #tcombi td {
    background-color: cornflowerblue;
    color: rgb(7, 7, 70);
}
#tcebra tr:nth-child(odd) td{
    background-color: rgb(243, 204, 204) ;
}

#tcebra tr:nth-child(even) td{
    background-color: rgb(205, 205, 241);
}
#tablas #thorario table {
    width: 90%;
    margin: 0 auto;
}
#thorario thead {
    background-color: white;
}
#thorario th {
    color: #008080;
    background-color: white;
}
#thorario td, #thorario th,#thorario table {
    border: solid 1px black;
}
.lm {
    background-color: #01B95C;
}
.prog {
    background-color: #80FFFF;
}
.ing {
    background-color: #80FF81;
}
.ende {
background-color: #8080C0;
}
.fol {
    background-color: #F0F0C8;
}
.sisi {
    background-color: #FF8002;
}
.bdd {
    background-color: #64AA96;
}
.txt-26 {
    font-size: 26px;
}
.txt-20 {
    font-size: 20px;
}
/*----------------------------------------------------------------------*/
/*Página Listas*/
#listaor li li {
    list-style-type:lower-alpha;
}
#listaor li li li {
    list-style-type:lower-roman;
}
#listades li li {
    list-style-image:url(../img/corazon12x12.png);
}
#listades li li li{
    list-style-image: none;
    list-style-type:circle;
}
#formbasic {
    width:500px;
}
#formvari {
    width:720px;
}
#formvari fieldset {
    width:490px;
}
/*----------------------------------------------------------------------*/
.video {
   width: 640px;
   height: 480px;
   border-width: 10px;
   border-style: groove;
}
#video {
    text-align: center;
}
#inicio {
    text-align: center;
}
#formmoderno {
    width: 35%;
    margin: 0 auto;
}
#formmoderno fieldset {
    border-color: blue;
}
#formmoderno legend {
    color: blue;
    font-size: 20px;
}
#formmoderno input {
    text-align: center;
}
#textInput {
    width: 10%;
}